<h1><%= @topic.title %></h1>

<p> <%= link_to "Add New Site", new_topic_bookmark_path(@topic), method: :get %> </p>

<% @topic.bookmarks.each do |bookmark| %>
  <%= link_to bookmark.url, bookmark.url, target: "_new" %></a> | <%= link_to "Delete URL", topic_bookmark_path(@topic, bookmark), method: :delete%></br>
<% end %>
